.metadata
bin/
*.tmp
*.bak
*.swp
local.properties
.settings/
.loadpath
*.launch
.factorypath
.target
.springBeans
.directory
.Trash-*
.nfs*
.java-version
.jenv-version
.idea
*.iws
out/
.idea_modules/
.gradle
build/
!gradle-wrapper.jar
.gradletasknamecache
.DS_Store
._*
*.log
*.class
!/src/test/resources/war/**/*.class
*.jar
*.war
!/src/test/resources/war/**/*.war
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
Session.vim
tags
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
flycheck_*.el
/server/
.projectile
